Task
\[CXX1429]
Run

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
android/
ios/
build/

# Expo
.expo/
dist/
build/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
pnpm-lock.yaml
.gitignore

dist.zip

.vscode/launch.json
.vscode/settings.json

# android
.kotlin

# firebase
google-services.json
GoogleService-Info.plist

# Skia WebAssembly
public/canvaskit.wasm
novyse-release.keystore
