[Desktop Entry]
Name=Novyse
Comment=Next-Gen Communications. Connect, collaborate, and communicate securely.
Exec=novyse %U
Icon=org.novyse.Desktop
Type=Application
Terminal=false
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/novyse;