#include? "AppEnvironment.xcconfig"

// Application-level settings for the Runner target.
PRODUCT_NAME = $(APP_NAME)

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_IDENTIFIER)

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 Novyse. All rights reserved.
